<a href="https://colab.research.google.com/github/solji2/solji2/blob/master/Untitled1two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
arr = np.random.normal(174.5,7,200)

In [9]:
print('분산',np.var(arr))
print('표준편차',np.std(arr))
print('중간값',np.median(arr))
print('최솟값',np.min(arr))
print('최댓값',np.max(arr))
print('최솟값 위치',np.argmin(arr))
print('최댓값 위치',np.argmax(arr))
print('1/4 분위값',np.quantile(arr,0.25))

분산 44.96192202064831
표준편차 6.705365166838291
중간값 174.90245221238854
최솟값 151.7121153092647
최댓값 190.8010544712789
최솟값 위치 86
최댓값 위치 140
1/4 분위값 169.74638837822167

In [11]:
import pandas as pd

In [12]:
from pandas import Series, DataFrame

In [13]:
scores = [90,87,88,73]
ls = pd.Series(scores)
print(ls)

0    90
1    87
2    88
3    73
dtype: int64

In [14]:
print('인덱스',ls.index)

인덱스 RangeIndex(start=0, stop=4, step=1)

In [17]:
score_chart = {'홍길동':90,
               '강감찬':80,
               '을지문덕':95,
               '이순신':99}
ks = pd.Series(score_chart)
print(ks)

홍길동     90
강감찬     80
을지문덕    95
이순신     99
dtype: int64

In [19]:
name=['홍길동','강감찬','을지문덕','이순신']
ks2 = pd.Series(score_chart, index=name)
print(ks2)

홍길동     90
강감찬     80
을지문덕    95
이순신     99
dtype: int64

In [21]:
pd.isnull(ks2)

홍길동     False
강감찬     False
을지문덕    False
이순신     False
dtype: bool

In [23]:
ks2.isnull()

홍길동     False
강감찬     False
을지문덕    False
이순신     False
dtype: bool

In [24]:
ks2.index.name='학생이름'
print(ks2)

학생이름
홍길동     90
강감찬     80
을지문덕    95
이순신     99
dtype: int64

In [25]:
ks2-=5
print(ks2)

학생이름
홍길동     85
강감찬     75
을지문덕    90
이순신     94
dtype: int64

In [26]:
ks4 = np.exp(ks2)
print(ks2)

학생이름
홍길동     85
강감찬     75
을지문덕    90
이순신     94
dtype: int64

In [27]:
score = ks2.to_numpy()
print(score)

[85 75 90 94]

In [33]:
data = {'이름':['홍길동','홍길동','홍길동','강감찬','강감찬','강감찬'],
        '년도':[2018,2020,2021,2019,2022,2021],
        '키':[185,173,178,180,190,133]
}
dt=pd.DataFrame(data)
print(dt)

    이름    년도    키
0  홍길동  2018  185
1  홍길동  2020  173
2  홍길동  2021  178
3  강감찬  2019  180
4  강감찬  2022  190
5  강감찬  2021  133

In [30]:
dt.head()

    이른    년도    키
0  홍길동  2018  185
1  홍길동  2020  173
2  홍길동  2021  178
3  강감찬  2019  180
4  강감찬  2022  190

In [31]:
dt.tail()

    이른    년도    키
1  홍길동  2020  173
2  홍길동  2021  178
3  강감찬  2019  180
4  강감찬  2022  190
5  강감찬  2021  133

In [34]:
dt = pd.DataFrame(data,columns=['이름','키','년도','몸무게'])
dt

    이름    키    년도  몸무게
0  홍길동  185  2018  NaN
1  홍길동  173  2020  NaN
2  홍길동  178  2021  NaN
3  강감찬  180  2019  NaN
4  강감찬  190  2022  NaN
5  강감찬  133  2021  NaN

In [36]:
s = pd.Series(range(3),index=['a','b','c'])
s

a    0
b    1
c    2
dtype: int64

In [42]:
print(s.index)
s.index[1]
s.index[1:2]

Index(['a', 'b', 'c'], dtype='object')

Index(['b'], dtype='object')

In [38]:
s.values

array([0, 1, 2])

In [46]:
temp = s.index
temp[0]='a'#인덱스의 요소ㅗ는 변경할 수 없다.TypeError 발생
temp`

TypeError: ignored

In [48]:
s.index=['a','b','z']#인덱스를 설정하는 것은 가능! 통째로 그치만 부분적으로 수정을 불가능
s

a    0
b    1
z    2
dtype: int64

In [50]:
names = ['홍','감','김']
s = pd.Series([1.0,2.0,1.2],index=names)
print(s)

홍    1.0
감    2.0
김    1.2
dtype: float64

In [52]:
s = pd.Series([1,5,3,4],['b','a','c','d'])
s

b    1
a    5
c    3
d    4
dtype: int64

In [53]:
s2 = s.reindex(['a','b','d','e'])
s2

a    5.0
b    1.0
d    4.0
e    NaN
dtype: float64

In [54]:
s3 = pd.Series(['b','p','y'],index=[0,1,3])
s3

0    b
1    p
3    y
dtype: object

In [58]:
s4 = s3.reindex({0,1,2,3,4,8,9},method='ffill')#새로운 인덱스의 값은 앞쪽 값으로 채워주세요
s4

0    b
1    p
2    p
3    y
4    y
8    y
9    y
dtype: object

In [60]:
pd.DataFrame(s4)

   0
0  b
1  p
2  p
3  y
4  y
8  y
9  y

In [66]:
rd = np.arange(9)
rd2 = rd.reshape(3,3)
df = pd.DataFrame(rd2,index=['x','c','b'],columns=['서울','강원','제주'])
df

   서울  강원  제주
x   0   1   2
c   3   4   5
b   6   7   8

In [69]:
df2 = df.reindex(['a','b','c','d'])
df2

    서울   강원   제주
a  NaN  NaN  NaN
b  6.0  7.0  8.0
c  3.0  4.0  5.0
d  NaN  NaN  NaN

In [70]:
areas = ['서울','광주','대구','경주']
df3 = df.reindex(columns=areas)
df3

   서울  광주  대구  경주
x   0 NaN NaN NaN
c   3 NaN NaN NaN
b   6 NaN NaN NaN

In [79]:
df3.loc[['x','c'],['서울','광주`']]

   서울  광주
x   0 NaN
c   3 NaN

In [80]:
s = pd.Series(np.arange(5),index=['a','b','c','d','e'])
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [83]:
s2 = s.drop('b')
s2

a    0
c    2
d    3
e    4
dtype: int64

In [84]:
s3 = s.drop(['a','b','d'])#여러개 요소를 삭제
s3

c    2
e    4
dtype: int64

In [86]:
df = pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['서울','인천','일산','천안'],
                  columns=['one','two','three','four'])
df

    one  two  three  four
서울    0    1      2     3
인천    4    5      6     7
일산    8    9     10    11
천안   12   13     14    15

In [87]:
df['two']

서울     1
인천     5
일산     9
천안    13
Name: two, dtype: int64

In [88]:
df[['three','one']]

    three  one
서울      2    0
인천      6    4
일산     10    8
천안     14   12

In [89]:
df[:2]

    one  two  three  four
서울    0    1      2     3
인천    4    5      6     7

In [91]:
df2 =df[df['one']<5]
df2

    one  two  three  four
서울    0    1      2     3
인천    4    5      6     7

In [93]:
filter = df['two']
filter

서울     1
인천     5
일산     9
천안    13
Name: two, dtype: int64

In [94]:
df < 5

      one    two  three   four
서울   True   True   True   True
인천   True  False  False  False
일산  False  False  False  False
천안  False  False  False  False

In [98]:
df[df<5]=0

In [99]:
df

    one  two  three  four
서울    0    0      0     0
인천    0    5      6     7
일산    8    9     10    11
천안   12   13     14    15

In [101]:
df.loc['인천',['two','three']]

two      5
three    6
Name: 인천, dtype: int64

In [102]:
df.iloc[2,[3,0,1]]

four    11
one      8
two      9
Name: 일산, dtype: int64

In [103]:
df.iloc[2]

one       8
two       9
three    10
four     11
Name: 일산, dtype: int64

In [104]:
df.iloc[[1,2],[3,0,1]]

    four  one  two
인천     7    0    5
일산    11    8    9

In [105]:
df.loc[:'일산',"three"]

서울     0
인천     6
일산    10
Name: three, dtype: int64

In [107]:
df.iloc[:,:3][df.three > 5]

    one  two  three
인천    0    5      6
일산    8    9     10
천안   12   13     14

In [109]:
df.iloc[0:2]

    one  two  three  four
서울    0    0      0     0
인천    0    5      6     7

In [111]:
df.iloc[0:2][1:]

    one  two  three  four
인천    0    5      6     7

In [115]:
s1 = pd.Series([7.3,-2.5,3.4,2.5],index=['a','c','d','e'])
s1
s2 = pd.Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [116]:
s1+s2

a    5.2
c    1.1
d    NaN
e    1.0
f    NaN
g    NaN
dtype: float64

In [122]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),index=["Ohio","Texas","Colorado"])
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=["Utah","Ohio","Texas","Oregon"])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [119]:
df1+df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [120]:
df2.add(df2,fill_value=0)

           b     d     e
Utah     0.0   2.0   4.0
Ohio     6.0   8.0  10.0
Texas   12.0  14.0  16.0
Oregon  18.0  20.0  22.0

In [126]:
df1 = pd.DataFrame({'A':[1,2]})
df2 = pd.DataFrame({'B':[3,4]})
df1
df2

   B
0  3
1  4

In [127]:
df1-df2

    A   B
0 NaN NaN
1 NaN NaN

In [129]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df1
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [130]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [131]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [132]:
1/df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [133]:
df1.reindex(columns=df2.columns, fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [135]:
arr = np.arange(12.).reshape((3,4))
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [138]:
arr[0]

array([0., 1., 2., 3.])

In [139]:
arr-arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [140]:
frame = pd.DataFrame(np.random.randn(4,3),columns=list('bde'),
                     index=['Utah','Ohio','Texas','Oregon'])
frame

               b         d         e
Utah    2.825971 -0.093717  0.780834
Ohio    0.903287  0.809552 -0.927983
Texas  -0.923685 -1.284642 -0.182168
Oregon  0.712738  0.943198 -0.885349

In [141]:
np.abs(frame)

               b         d         e
Utah    2.825971  0.093717  0.780834
Ohio    0.903287  0.809552  0.927983
Texas   0.923685  1.284642  0.182168
Oregon  0.712738  0.943198  0.885349

In [142]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    3.749656
d    2.227840
e    1.708817
dtype: float64

In [143]:
frame.apply(f, axis='columns')

Utah      2.919688
Ohio      1.831270
Texas     1.102474
Oregon    1.828547
dtype: float64

In [144]:
obj = pd.Series(range(5), index=['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [145]:
obj.index.is_unique

False

In [146]:
obj['a']

a    0
a    1
dtype: int64

In [147]:
obj['c']

4

In [148]:
df = pd.DataFrame(np.random.randn(4,3),index=['a','a','b','b'])
df

          0         1         2
a  0.759023  1.746066 -2.092271
a -0.287612  0.586191 -0.231808
b -1.371791 -0.770072 -0.990967
b  0.537064 -0.701646  0.267051

In [149]:
df.loc['b']

          0         1         2
b -1.371791 -0.770072 -0.990967
b  0.537064 -0.701646  0.267051

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [151]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],
                  [np.nan,np.nan], [0.75, -1.3]],
                  index=['a','b','c','d'],
                  columns=['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [153]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [154]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [155]:
df.idxmax()

one    b
two    d
dtype: object

In [157]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [158]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [160]:
obj = pd.Series(['a','a','b','c']*4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [162]:
%pip install

ERROR: You must give at least one requirement to install (see "pip help install")